params {
  extension = "/*_R{1,2}*.{fastq.gz,fastq}"
  reads = "<data>" + "${extension}"
  FW_adapter = ""
  RV_adapter = ""
  readPaths = false
  outdir = './results'
  keep_untrimmed = true
  adapters = "$baseDir/res/adapters.fasta"
  classifier = "${params.outdir}/trained_classifier/new_classifier.qza"
  skip_qc = false
  skip_tree = false
  train_classifier = false
  use_taxonomy_classifier = false
  skip_barplot = false
  skip_diversity = false
  reference_reads_for_taxonomic_classifier = ""
  reference_taxonomy_for_taxonomic_classifier = ""
  taxa_level_for_itol = 6
  condition_header = "treatment"
}

profiles {

  debug { process.beforeScript = 'echo $HOSTNAME' }

  docker {
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)' // This is required to prevent problems by Docker with disk rights and file/folder ownerships
    //docker.fixOwnership  = true # This option raises the following error : "Command 'ps' required by nextflow to collect task metrics cannot be found" ; This has nothing to do with 'ps' but might have something to do with the environment within the container which cannot be resolved properly ; The above alternative did not raise this issue
  }  

  conda { process.conda = "$baseDir/lib/qiime2-2020.2.yml" }
  test { includeConfig 'conf/TEST.config' }
  singularity { singularity.enabled = true }

}

process {
  withName: trimming {
    container = 'charlottek/trimming:v1.0'
  }
  withName: fastqc {
    container = 'charlottek/trimming:v1.0'
  }
  withName: multiqc {
    container = 'charlottek/report:v0.1'
  }
  withName: itol {
    container = 'joshuakoopmans/debian-python3-zip-curl:v1.0'
  }
  withName: sankey {
    container = 'sankey_install_rpackages'
  }
  withName: sankey_png {
    container = 'sankey_install_rpackages'
  }
  container = "qiime2/core:2020.2"

}

manifest {
  name = 'Microbiomics - RTC Bioinformatics'
  author = 'Joshua Koopmans'
  homePage = 'https://gitlab.cmbi.umcn.nl/rtc-bioinformatics'
  description = 'QIIME2 16s Microbiomics Pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=18.10.1'
  version = '1.0.0'
}
