params {
    //# EXAMPLE run
    //# make sure to have similar sample name references in readPaths(), in the sample file names and in metadata.tsv
    extension = "/*_R{1,2}*.{fastq.gz,fastq}"
    reads = "<data>" + "${extension}"
    FW_adapter = "X"
    RV_adapter = "X"
    //classifier = "https://github.com/nf-core/test-datasets/raw/ampliseq/testdata/GTGYCAGCMGCCGCGGTAA-GGACTACNVGGGTWTCTAAT-gg_13_8-85-qiime2_2019.7-classifier.qza"
    outdir = "./results"
    keep_untrimmed = true
    temp_dir = "./results/tmp_dir"
    metadata = "/mnt/home2/tome/workdir/QIIME-EXAMPLE/metadata.tsv"
    condition_header = "subject"
    //# readPaths = [
        //# ['S1', ['/mnt/home2/tome/data/DATA/1_46879_ATGCGCAGTATCCTCT_L001_R1_001_CF7C2.filt.fastq', '/mnt/home2/tome/data/DATA/1_46879_ATGCGCAGTATCCTCT_L001_R2_001_CF7C2.filt.fastq']],
        //# ['S3', ['/mnt/home2/tome/data/DATA/3_46881_ACTGAGCGTATCCTCT_L001_R1_001_CF7C2.filt.fastq', '/mnt/home2/tome/data/DATA/3_46881_ACTGAGCGTATCCTCT_L001_R2_001_CF7C2.filt.fastq']],
        //# ['S6', ['/mnt/home2/tome/data/DATA/6_46884_TGCAGCTATATCCTCT_L001_R1_001_CF7C2.filt.fastq', '/mnt/home2/tome/data/DATA/6_46884_TGCAGCTATATCCTCT_L001_R2_001_CF7C2.filt.fastq']],
   //# ]
}